.ccaa-map {
  position: relative;
  left: -75px;
}

.actionableLink {
  cursor: pointer;
}

.vis-detail {
  background-color: #04819E;
  float: left;
  height: 90px;
  margin-left: 530px;
  margin-top: 25px;
  width: 165px;
  color:#FFFFFF;
  font-weight:bold;
  text-align: center;
  display: none;
}

svg {
  width: 600px;
  height: 500px;
}

#states path {
  fill: #ccc;
  stroke: #fff;
  cursor: pointer;
}

#functionsKey {
  color: #999999;
  font-size: 13px;
  cursor: pointer;
  line-height: 15px;
  margin-top: 40px;
  margin-left: 660px;
  position: absolute;
  width: 350px;
}

#functionsKey div.bar {
  position: absolute;
  background-color: #cccccc;
  margin-top: 2px;
  color: white;
  height: 12px ;
}

#barchart {
  height: 300px;
  top: 400px;
  width: 300px;
  margin-left: 530px;
  margin-top: 25px;
  position: absolute;
  text-align: right;
}

#infobox {
  width: 220px;
  padding: 15px 15px 15px 15px;
  position: absolute;
  left: 300px;
  top: 330px
}

#infobox div.title {
  font-weight: bold;
  font-size: 22px;
}

#infobox div.value {
  font-weight: bold;
  font-size: 35px;
  line-height: 40px;
  margin-bottom: -10px;
}

#infobox div.desc {
  margin-top: 5px;
  font-size: 20px;
}

#infobox div.avg {
  width: 190px;
  margin-top: 10px;
  height: 30px;
}

#infobox .infobarbg {
  position: absolute;
  background-color: #f0f0f0;
  width: 190px;
  height: 12px;
}

#infobox .infobar {
  position: absolute;
  background-color: #000000;
  height: 12px;
}

#infobox .infobarimg {
  background-image: url('../../assets/colorbar.png');
  background-repeat: repeat-y;
  position: absolute;
  width: 190px;
  height: 12px;
}

#infobox .infoavg {
  position: absolute;
  margin-top: 15px;
  font-size: 15px;
}

#leyenda {
  position: relative;
  width: 200px;
  top: -80px;
}

#leyendabg { 
  background-image: url('../../assets/gradient.png');
  background-repeat: repeat-y;
  height: 10px;
}

