{% extends 'base.html' %}

{% block content %}

<section class="article visit-guide" role="region">

  <!-- Tax Receipt Header -->
  <div class="ccaa-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('Los presupuestos de las Comunidades Autónomas') }}</h2>
      <p class="lead">Te mostramos la distribución del presupuesto regional durante los años 2006 al 2022. Puedes observar tanto <a id="selectTotalAmountLink" class="actionableLink">el gasto presupuestado total</a>, como el <a id="selectPerPersonAmountLink" class="actionableLink">presupuesto por habitante</a>. También puedes ver las cantidades por área funcional, como por ejemplo <a id="selectHealthLink" class="actionableLink">Sanidad</a>, referidas a cada región o a todo el territorio nacional.</p>
      <p class="lead">Ten en cuenta que algunas comunidades autónomas tienen competencias que otras no tienen -pasa, por ejemplo, en Justicia, que en ocasiones está transferida y en otras no-, por lo que el gasto total no es comparable sin tener en cuenta esas diferencias.</p>
      <p class="lead">
        <small>Esta visualización es una adaptación de la realizada por <a href="https://visup.it/" target="_blank">VISup</a> para Italia.</small>
      </p>
    </div>
  </div>

  <div class="ccaa-content">
    <div class="container">

      <!-- CONTROLS -->
      <div class="data-controllers"> 
        <div class="quantity-selection">
          <label for="select-format" class="title">{{ _('Cantidades') }}</label>
          <select id="select-format" class="form-control">
            <option value="TOTAL">Presupuesto total</option>
            <option selected="selected" value="PER PERSON">Per-capita</option>
          </select>
        </div>
        <div class="layout-slider">
          <p class="title">{{ _('Año') }}</p>
          <label for="year-selection">{{ _('Año') }}</label>
          <input id="year-selection" type="text" value="{{ starting_year }}" />
        </div> 
      </div>

      <div id="vis" class="row ccaa-map">

        <div class="col-sm-6">
          <div id="map"></div>
          <div id="leyenda">
            <div id="leyendabg"></div>
            <span class="pull-left">min</span>
            <span class="pull-right">max</span>
          </div>
        </div> 

        <div class="col-sm-6">
          <div id="infobox">
            <div id="infoTitle" class="title"></div>
            <div id="infoValue" class="value"></div>
            <div id="infoDesc" class="desc"></div>
            <div id="infoAvgBox" class="avg">
              <div id="infoGreyVal" class="infobarbg"></div>
              <div id="infoBar" class="infobar"></div>
              <div id="infoValImg" class="infobarimg"></div>
              <div id="infoAvgText" class="infoavg"></div>
            </div>
          </div>
          <div id="functionsKey"></div>
        </div> 
      </div>

      {% include 'shared/social_sharing.html' %}

    </div>
  </div>
</section>

{% include 'shared/data_sources.html' %}

{% endblock %}

{% block extra_javascript %}
<script src="{{ static('javascripts/d3-ccaa.js') }}"></script>
<script src="{{ static('javascripts/ccaa.js') }}"></script>
<script>
  $(function() {
    var map = new RegionComparisonMap("{{ static('data/budget_data_2022.csv') }}",
                                      "{{ static('data/population_2022.csv') }}",
                                      "{{ static('data/map/ccaa_5km.json') }}");

    /** INTRO TEXT CONTROLS **/
    $("#selectTotalAmountLink").click(function() {
      map.selectTotalAmount();
      $('#select-format').val('TOTAL');
    });
    $("#selectPerPersonAmountLink").click(function() {
      map.selectPerPerson();
      $('#select-format').val('PER PERSON');
    });
    $("#selectHealthLink").click(function() {
      map.selectPolicy(31);
    });

    function onYearChange() {
      map.changeYear(getUIState().year);
    };
    function onModeChange() {
      map.changeCurrentMode(getUIState().format);
    };

    initSlider('#year-selection', [2006, 2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022], 2022);
    
    $('#select-format').change(onModeChange);

    map.start(getUIState());

    setRedrawOnSliderChange('#year-selection', 2021, onYearChange);
  });
</script>
{% endblock %}