{% extends 'base.html' %}
{% block content %}

<section class="article visit-guide" role="region">

  <!-- Tax Receipt Header -->
  <div class="article-header section-header">

    <div class="container">
      <h2 class="page-title">{{ _('Visita guiada') }}</h2>
      <p class="lead">Explorar los Presupuestos Generales del Estado, tal y como aparecen en la <a href="http://www.sepg.pap.minhap.gob.es/sitios/sepg/es-ES/Presupuestos/Paginas/MenuSitio.aspx" target="_blank">página web</a> del Ministerio de Hacienda y Administraciones Públicas, puede acabar en aventura frustrada. Lo que proponemos con Dónde van mis impuestos es un placentero paseo en góndola.</p>
    </div>
  </div>

  <div class="article-content">
    <div class="container">

      <p>Puedes bajar escalones desde la primera línea (las políticas en las que se emplea el dinero público, 26 en las cuentas de 2014) hasta llegar a cada uno de los más de 200 programas en los que se divide el gasto. O, lo que es lo mismo, desde ‘Seguridad Ciudadana e instituciones Penitenciarias’, por ejemplo, hasta llegar a programas concretos y saber cuánto se gasta en ‘Seguridad Vial’ o ‘Derecho de Asilo y apátridas’. Click a click.</p>

      <p>Pero una de las mayores novedades de esta nueva versión es el buscador, que permite encontrar partidas muy concretas sin tener si quiera que saber dónde se encuentran. Porque, ¿para qué recorrer todas las épocas artísticas si tú has ido al Louvre a ver la Victoria de Samotracia? A continuación te mostramos algunos titulares que podrás encontrar, a través de búsquedas sencillas, en la página web.</p>

      <h3>Partidos políticos: más de 87 millones en 2014</h3>

      <p>Introduce en la casilla de búsqueda “partidos políticos”, por ejemplo. Todo el gasto vinculado a las formaciones con representación parlamentaria se encuentra en <a href="/busqueda?q=partidos+pol%C3%ADticos" target="_blank">este listado</a>: los 52,7 millones para su funcionamiento, los 29,3 para gastos electorales, los 2,7 para seguridad. El conjunto incluye incluso los 2,4 millones que se llevarán las fundaciones de partidos durante 2014 de los presupuestos de Cultura y Cooperación Internacional.</p>

      <h3>Trasplantes: en descenso constante</h3>

      <p>Afinamos el tiro y queremos conocer gastos relacionados con “trasplantes”. El <a href="/busqueda?q=trasplantes" target="_blank">resultado</a> incluye dos partidas: el convenio de España con la Organización Mundial de la Salud (OMS) y las subvenciones por trasplantes y donaciones a hospitales y otros centros de referencia. Si marcamos la parte verde, <a href="/programas/311O/politicas-de-salud-y-ordenacion-profesional#item=2014/26004/481/26004/" target="_blank">vemos</a> que las transferencias corrientes (esas ayudas a centros) rondan los dos millones y, lo más importante, que han ido descendiendo en los últimos años.</p>

      <h3>Expresidentes a sueldo vitalicio</h3>

      <p>Busca “ex–presidentes” y disfruta. <a href="/busqueda?q=ex-presidentes" target="_blank">Aquí</a> no sólo encontrarás los sueldos vitalicios de los expresidentes del Gobierno (298.320 euros en el presupuesto de 2014), sino también las pensiones a los expresidentes del Constitucional (124.110 euros), las de sus homólogos en el Tribunal de Cuentas (60.460 euros) y la indemnización para otros expresidentes, en este caso los del Consejo de Estado (67.790 euros). </p>

      <h3>Con la Iglesia hemos topado</h3>

      <p>Si vamos al grano y ponemos “iglesia” en el buscador, nos <a href="/busqueda?q=iglesia" target="_blank">devolverá</a> un único resultado, los 249 millones que el Gobierno transferirá a la Iglesia católica a cuenta de los ingresos por la casilla de la renta que le corresponderán. Sí, es un adelanto. La otra casilla de la declaración de la renta, la de fines sociales, no funciona así, sino que se recauda, se convoca y luego <a href="http://elboenuestrodecadadia.com/2014/04/30/cruz-roja-y-caritas-lideran-el-reparto-de-subvenciones-de-la-casilla-de-fines-sociales/" target="_blank">se reparte</a>.</p>

      <p>De hecho, la singularidad de este pago adelantado a la Iglesia va más allá: está consignado como un ingreso pero en negativo. Y es que los caminos de los PGE son inescrutables.</p>

      <h3>Jefatura del estado con pagos propios y ajenos</h3>

      <p>Los Presupuestos Generales del Estado no están hechos para que sepamos cuánto cuesta el mantenimiento global de la Casa Real, puesto que muchas partidas destinadas a ese destino <a href="http://elboenuestrodecadadia.com/2013/09/13/patrimonio-nacional-destino-12-millones-a-servicios-a-la-corona-y-actos-de-estado-en-2012/" target="_blank">están repartidas</a>, sin detalle, en varios ministerios. Tras la búsqueda de “jefatura del estado” <a href="/busqueda?q=jefatura+del+estado" target="_blank">encontrarás</a> parte de ese coste bajo dos epígrafes: los casi <a href="/programas/911M/jefatura-del-estado" target="_blank">7,8 millones</a> designados directamente y <a href="/programas/911Q/apoyo-a-la-gestion-administrativa-de-la-jefatura-del-estado" target="_blank">otros seis</a> millones para pagar los sueldos de los funcionarios que trabajan en Zarzuela.</p>

      <h3>El IVA supone el 10% de los ingresos</h3>

      <p>IRPF, impuesto de sociedades, IVA… La distribución de los ingresos previstos -novedad en esta nueva versión de Dónde van mis impuestos- aporta mucha información relevante, sobre todo a la hora de valorar las reformas fiscales. Si marcamos la casilla de ‘ingresos’ en la página de <a href="/politicas" target="_blank">políticas</a> podemos ver, en una sola visualización, su distribución global.  Así, sabemos que el Gobierno prevé ingresar en 2014 más de 22.000 millones gracias al Impuesto de Sociedades y más de 27.000 millones a través del <a href="/articulos/i/21/sobre-el-valor-a%C3%B1adido" target="_blank">IVA</a>, lo que significa casi un 10% del total (casi 282.000 millones).</p>

      <h3>El País Vasco lidera el gasto en educación y sanidad por habitante</h3>

      <p>Dejamos el buscador y nos lanzamos a buscar hits en el <a href="/ccaa/" target="_blank">reparto</a> de los presupuestos de las comunidades autónomas. Como bien <a href="/ojo_con_esto#sanidad" target="_blank">sabemos</a>, ahí es donde vamos a encontrar el grueso del gasto en Sanidad y Educación, por ejemplo, puesto que las competencias están transferidas. En el mapa podemos conocer el gasto total o por habitante de cada comunidad en cada una de esas áreas. Por defecto, veremos el gasto por habitante, lo que nos permite realizar una comparativa fiable (entre CCAA o por años) a simple vista.</p>

      <p>Marcamos la barra de ‘Educación’ y descubrimos que País Vasco es la comunidad que más gasta en este ámbito. En concreto, 1.224 euros por persona. ¿Y la que menos? Baleares, con 663 euros. El mapa nos permite también conocer cuál es la media nacional: casi 800 euros por persona presupuestados en 2014. Podemos hacer el mismo ejercicio con la partida destinada a Sanidad, por ejemplo (spoiler: también gana el País Vasco). Y ojo, arriba tienes una barra para ver la evolución anual de esos gastos tanto por regiones como en el total, un buen lugar para encontrar cómo han afectado los recortes de los últimos años.</p>

      <h3>Lo importante es la evolución</h3>

      <p>En muchos casos, el titular no está en una cifra (el gasto de una partida o los ingresos por determinados impuestos, por ejemplo) sino en la evolución (¿sube o baja? ¿se destinan más fondos o se recorta?).</p>

      <p>Vamos a detenernos, por ejemplo, en las <a href="/programas/251M/prestaciones-a-los-desempleados" target="_blank">prestaciones a los desempleados</a>. ¿Cómo se han presupuestado durante los últimos años? ¿Bajan? ¿Suben? La respuesta está en los puntos que marcan la evolución en esta visualización. Además, si colocamos el ratón sobre la esquina superior derecha, por ejemplo, sabremos que para 2014 son de casi 29.500 millones. Y el bocadillo nos da información extra: eso significa un 8,61% con respecto a 2013. Facilísimo.</p>

    </div>
  </div>

</section>

{% endblock %}