<div class="budget-stream">
  <div class="row-fluid">
    <div class="span4">
      <div class="step1">
        <h2><span>1.</span> <b>La recaudación</b></h2>
        <p class="desc">Se realiza a través de <b>impuestos directos</b> -como el IRPF y el impuesto de sociedades- y de <b>impuestos indirectos</b> -el IVA e impuestos sobre el tabaco, el alcohol o la gasolina.</p>
      </div>
    </div>
    <div class="span4">
      <div class="step2">
        <h2><span>2.</span> <b>¿Cómo se reparte?</b></h2>
        <p class="desc">Una parte del dinero recaudado se queda en la <b>Administración General del Estado</b>, mientras que otra parte se transfiere a las <b>comunidades autónomas</b> y a las <b>entidades locales</b>.</p>
      </div>
    </div>
    <div class="span4">
      <div class="step3">
        <h2><span>3.</span> <b>¿En qué se emplea?</b></h2>
        <p class="desc">Las <b>administraciones</b> utilizan el dinero recaudado, junto con otras fuentes de financiación como la deuda, para <b>mantener los servicios públicos</b> y la estructura del Estados.</p>
      </div>
    </div>
  </div>
</div>
