<section class="data-sources box" role="region">
  <div class="box-title">
    <h3>Fuentes de datos</h3>
  </div>
  <div class="box-content">
    <ul class="source-list">
      <li><a href="http://www.minhap.gob.es/es-ES/Areas%20Tematicas/Presupuestos%20Generales%20del%20Estado/Paginas/Presupuestos.aspx" target="_blank">Datos presupuestarios · <b>Ministerio de Hacienda y Administraciones Públicas</b></a></li>
      <li><a href="http://www.ine.es/jaxiBD/tabla.do?per=12&type=db&divi=DPOP&idtab=1" target="_blank">Datos de población · <b>Instituto Nacional de Estadística (INE)</b></a></li>
      <li><a href="http://www.ine.es/jaxiT3/Tabla.htm?t=2603&L=0" target="_blank">Datos de inflación (Medias anuales de IPC) · <b>Instituto Nacional de Estadística (INE).</b></a></li>
    </ul>
    <div class="alert inline-block note">
      <p class="title tupper">Nota</p>
      <ul>
        <li>Los ingresos y gastos mostrados incluyen -tal y como se describe en el <a href="http://www.sepg.pap.minhap.gob.es/sitios/sepg/es-ES/Presupuestos/pge2014/Documents/LIBROAZUL2014.pdf" target="_blank">Libro Azul</a> de acompañamiento de los PGE- los del Estado, organismos autónomos adscritos a ministerios, agencias estatales, Seguridad Social y otras entidades con presupuesto limitativo. No incluyen a fundaciones o empresas del sector público como Radio Televisión Española.</li>
        <li>El ajuste de la inflación se realiza a <b>1 de enero de {{ last_inflation_year }}</b>.</li>
      </ul>
    </div>
  </div>
</section>