<footer role="contentinfo">
  <div class="donation-banner">
    <div class="container-fluid">
      <div class="donation-logo">
        <img src="{{ STATIC_URL }}assets/icon-donation.png" alt="Icono de donación"></a>
      </div>
      <div class="donation-text">
        <p> Queremos seguir trabajando para que esta información sea accesible para todos los ciudadanos. Si te gusta el proyecto, puedes ayudarnos con <strong><a href="http://www.civio.es/dona/" target="_blank">una donación</a></strong>. También necesitamos ayuda técnica (diseño web y UX especialmente, pero también sysadmin o programación Rails/Javascript). Si te interesa, <a href="mailto:contacto@civio.es">escríbenos</a>.</p>
      </div>
    </div>
  </div>
  <div class="footer-corp">
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span7">
          <p class="legal-text">
            <a href="{{ url('theme-dvmi.views.metodologia') }}">¿Cómo se hizo?</a> <span class="bar">|</span> <a href="{{ url('theme-dvmi.views.metodologia') }}#credits">Agradecimientos</a><br/>
            Un proyecto de <a href="http://www.civio.es" target="_blank">Fundación Ciudadana Civio</a> <a href="http://twitter.com/civio" target="_blank">@civio</a>
          </p>
        </div>
        <div class="span5">
          <p class="logo-aragon"><span>Basado en el código de </span><a href="http://opendata.aragon.es/" target="_blank"><img src="{{ STATIC_URL }}assets/logoAragonOpenData.png" alt="Open Data Aragón"></a></p>
        </div>
      </div>
    </div>
  </div>
</footer>
