<div class="donation-banner">
  <div class="container">
    <p>Somos una organización sin ánimo de lucro. <br/>Si te gusta el proyecto, puedes ayudarnos con una donación.</p>
    <p><a href="https://civio.es/dona/" class="btn btn-primary" title="Hazte donante" target="_blank"> Hazte donante</a></p>
    <!--
    <p> Queremos seguir trabajando para que esta información sea accesible para todos los ciudadanos. Si te gusta el proyecto, puedes ayudarnos con <strong><a href="http://www.civio.es/dona/" target="_blank">una donación</a></strong>. También necesitamos ayuda técnica (diseño web y UX especialmente, pero también sysadmin o programación Rails/Javascript). Si te interesa, <a href="mailto:contacto@civio.es">escríbenos</a>.</p>
    -->
  </div>
</div>

<footer class="main-footer">
  <div class="container">
    <p class="credit-aragon">
      <span>{{ _('Un proyecto de') }}</span>
      <a href="http://www.civio.es/es" class="link-civio" target="_blank">Civio</a>
      <span>&nbsp;{{ _('basado en el código de') }} </span>
      <a href="http://opendata.aragon.es" class="link-aragon" target="_blank">Open Data Aragón </a>
    </p>
  </div>
  <div class="container">
    <ul class="footer-menu">
      <li>
        <a href="{{ url('presupuesto-pge.views.metodologia') }}" title="{{ _('¿Cómo se hizo?') }}">{{ _('¿Cómo se hizo?') }}</a>
      </li>
      <li>
        <a href="{{ url('presupuesto-pge.views.metodologia') }}#credits" title="{{ _('Agradecimientos') }}">{{ _('Agradecimientos') }}</a>
      </li>
    </ul>
  </div>
</footer>