<!-- Civio Navbar -->
<nav id="civio-navbar">
  <div id="civio-navbar-brand-cont">
    <a id="civio-navbar-brand" href="https://civio.es/" title="Civio">
      <svg width="100" height="23" class="icon-civio" viewBox="0 0 200 45" version="1.1" aria-hidden="true"><g fill-rule="evenodd"><path id="p1" d="M188.3 0c5.56 0 10.06 4.42 10.06 9.87 0 5.45-4.5 9.87-10.06 9.87-5.55 0-10.06-4.42-10.06-9.87 0-5.45 4.5-9.87 10.06-9.87z"></path><path id="p2" d="M178.24 34.4c0-5.46 4.5-9.88 10.06-9.88s10.06 4.42 10.06 9.87c0 5.4-4.5 9.83-10.06 9.83-5.55 0-10.06-4.43-10.06-9.87"></path><path d="M58 1.3h12l16.9 41.6h-12z"></path><path d="M104.2 1.3h-12L75.25 42.9h12zM36.46 7C28.12-1.35 14.6-1.35 6.26 7c-8.34 8.33-8.34 21.87 0 30.2 8.33 8.34 21.86 8.34 30.2 0l-7.55-7.55c-4.13 4.17-10.9 4.17-15.1 0s-4.14-10.93 0-15.1 10.97-4.17 15.1 0L36.5 7zM154.6 29.65c-4.17 4.17-10.94 4.17-15.1 0-4.17-4.17-4.17-10.93 0-15.1 4.16-4.17 10.93-4.17 15.1 0 4.16 4.17 4.16 10.93 0 15.1M162.15 7c-8.34-8.34-21.87-8.34-30.2 0-8.35 8.33-8.35 21.87 0 30.2 8.33 8.34 21.86 8.34 30.2 0 8.33-8.33 8.33-21.87 0-30.2M43.2 42.9h10.75V1.3H43.2zm65.04 0H119V1.3h-10.76z"></path></g></svg>
    </a>
  </div>
  <a id="civio-navbar-donate-btn" href="https://civio.es/dona/?source=banner-top" title="Dona">Dona</a>
</nav>

<header>
  <div class="container">

    <!-- Lang Selector -->
    {% if LANGUAGES|length > 1 %}
    <div id="menu-lang">
      <ul>
        {% for language in LANGUAGES %}
          <li>
            <form id="form_{{language[0]}}" method="get" action="/i18n/setlang/">
              <input type="hidden" name="next" value="{{ request.path|redirect_url(language[0]) }}" />
              <input type="hidden" name="language" value="{{ language[0] }}"/>
              {#<a for="form_{{language[0]}}" href="javascript: document.form_{{language[0]}}.submitform()"{% if language[0].lower() == LANGUAGE_CODE %} class="active"{% endif %}>{{ language[1]|safe }}</a>#}
              <input type="submit" value="{{ language[1]|safe }}" form="form_{{language[0]}}" {% if language[0].lower() == LANGUAGE_CODE %} class="active"{% endif %}/>
            </form>
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <!-- DVMI Title & Home Link -->
    <h1 class="navbar-brand">
      <a href="{{ url('welcome') }}" title="{{ _('Ir a la home de Presupuestos') }}">
        {{ _('Presupuestos') | safe }}
      </a>
    </h1>

  </div>
    
  <!-- Main Navigation -->
  <nav class="navbar navbar-default hide-when-embedded">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">{{ _('Menú principal') }}</button>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="page-budgets {{ 'active' if active_tab == 'general' else '' }}">
            <a href="{{ url('budgets') }}" class="icon-budget">{{ _('Visión global') }}</a>
          </li>
          
          {% if show_counties_and_towns %}
          <li class="page-policies dropdown">
            <a href="{{ url('policies') }}" class="icon-policy dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ _('Políticas') }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url('policies') }}">{{ _('Gobierno de Aragón') }}</a></li>
              <li><a href="{{ url('counties') }}">{{ _('Comarcas') }}</a></li>
              <li><a href="{{ url('towns') }}">{{ _('Municipios') }}</a></li>
            </ul>
          </li>
          {% else %}
          <li class="page-policies {{ 'active' if active_tab == 'policies' else '' }}">
            <a href="{{ url('policies') }}" class="icon-policy">{{ _('Políticas') }}</a>
          </li>
          {% endif %}

          <li class="page-regions">
            <a href="{{ url('ccaa') }}" class="icon-tree">{{ _('Comunidades Autónomas') }}</a>
          </li>
          
          {% if show_payments %}
          <li class="page-payments {{ 'active' if active_tab == 'payments' else '' }}">
            <a href="{{ url('payments') }}" class="icon-payments">{{ _('Pagos e inversiones') }}</a>
          </li>
          {% endif %}

          {% if show_tax_receipt %}
          <li class="page-tax-receipt {{ 'active' if active_tab == 'calculator' else '' }}">
            <a href="{{ url('tax_receipt') }}" class="icon-aportacion">{{ _('Lo que tú aportas') }}</a>
          </li>
          {% endif %}
          
          <li class="page-glossary {{ 'active' if active_tab == 'glossary' else '' }}">
            <div class="dropdown">
              <a href="{{ url('visita_guiada') }}" class="dropdown-toggle icon-glossary" id="glossary-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{ _('Te lo explicamos') }}<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="glossary-dropdown">
                <li><a href="{{ url('visita_guiada') }}">{{ _('Visita guiada') }}</a></li>
                <li><a href="{{ url('ojo_con_esto') }}">{{ _('Ojo con esto') }}</a></li>
                <li><a href="{{ url('metodologia') }}">{{ _('Metodología') }}</a></li>
                <li><a href="{{ url('glossary') }}">{{ _('¿Qué significa...?') }}</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

</header>