<header role="banner">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span4 offset8">
        <p class="header-logo">Un proyecto de <a href="http://www.civio.es">
          <img src="{{ STATIC_URL }}assets/logo-civio.png" alt="Logo de Civio">
        </a></p>
      </div>
    </div>
    <h1 class="main-title">
      <a href="{{ url('budget_app.views.welcome') }}" title="Ir a la home de Dónde van mis impuestos">
        ¿Dónde van mis impuestos?
      </a>
    </h1>
  </div>

  <a class="main-menu-toggle" href="main-menu">Menú principal</a>
  
  <nav role="navigation" id="main-menu">
    <div class="container-fluid">
      <h1 class="visuallyhidden">Menú principal</h1>

      <ul class="nav-rwd">
        <li class="page-budgets"><a href="{{ url('budget_app.views.budgets') }}" class="icon-budget">Visión global</a></li>
        <li class="page-policies"><a href="{{ url('budget_app.views.policies') }}" class="icon-policy">Políticas</a></li>
        <li class="page-regions"><a href="{{ url('presupuesto-dvmi.views.ccaa') }}" class="icon-tree">Comunidades Autónomas</a></li>
        <li class="page-glossary">
          <a href="{{ url('presupuesto-dvmi.views.visita_guiada') }}" class="icon-glossary">Te lo explicamos</a>
          <ul>
            <li><a href="{{ url('presupuesto-dvmi.views.visita_guiada') }}">Visita guiada</a></li>
            <li><a href="{{ url('presupuesto-dvmi.views.ojo_con_esto') }}">Ojo con esto</a></li>
            <li><a href="{{ url('presupuesto-dvmi.views.metodologia') }}">Metodología</a></li>
            <li><a href="{{ url('budget_app.views.terms') }}">¿Qué significa...?</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>