<meta name="description" content="Sitio web para mostrar información relativa a los Presupuestos Generales del Estado">
<meta name="keywords" content="presupuestos, gastos, ingresos, gobierno, PGE">
<meta name="author" content="Fundación Ciudadana Civio">
<meta name="viewport" content="width=device-width,initial-scale=1">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<meta property="og:title" content="¿Dónde van mis impuestos?" />
<meta property="og:description" content="Información sobre los Presupuestos Generales del Estado" />
